@use './../utils' as *;

#footer {
    background-color: #ebebeb;
    width: 100%;

    .inner {
        padding: 120px 0;
        display: flex;
        justify-content: space-between;
    }
    h2 {
        font-size: 20px;
        height: 40px;
        a {
            height: 100%;
            img {
                height: 100%;
            }
        }
    }
    .footer {
        &-info-wrap {
            user-select: none;
            width: 540px;
            color: $greyscale-1000;
            div {
                display: flex;
                @include font-18px;
                &.links {
                    p {
                        margin-right: 20px;
                    }
                    margin-bottom: 20px;
                }
                &.info {
                    p {
                        margin-bottom: 10px;
                    }
                    flex-direction: column;
                    margin-bottom: 10px;
                }
                &.copyright {
                    color: $greyscale-900;
                }
            }
        }
        &-award-wrap {
            user-select: none;
            width: 370px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            color: $greyscale-1000;
            @include font-16px;
            p {
                display: flex;
                height: 40px;
                img {
                    margin-right: 10px;
                    min-width: 30px;
                }
            }
        }
    }
}
