@use '../../../styles/utils/' as *;

#support {
    padding-bottom: vw(300px);
    .tab-button-wrap {
        margin-top: vw(98px);
        margin-bottom: vw(35px);
    }
    .support {
        &-notice {
            &-table {
                &-wrap {
                    pointer-events: none;
                    margin-top: vw(50px);
                    colgroup {
                        col {
                            &:nth-child(1) {
                                width: vw(180px);
                            }
                            &:nth-child(2) {
                            }
                            &:nth-child(3) {
                                width: vw(165px);
                            }
                        }
                    }
                }
                thead {
                    background-color: #fafafa;
                    @include font-20px-B;
                    height: vw(50px);
                    tr {
                        padding: vw(10px);
                        th {
                            vertical-align: middle;
                        }
                    }
                }
                tbody {
                    tr {
                        height: vw(90px);
                        border-bottom: vw(1px) solid $greyscale-400;

                        td {
                            vertical-align: middle;
                            @include font-18px-M;
                            padding: 0 vw(30px);
                            &:not(:nth-child(2)) {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .faq {
        .tab-button-wrap2 {
            margin: vw(90px) vw(54px) vw(30px);
        }

        &-main {
            &-wrap {
                cursor: pointer;
            }

            /* 공통: 질문/답변 행 */
            &-item-question,
            &-item-answer {
                display: flex;
                padding: vw(20px);
                border-bottom: 1px solid $greyscale-500;
                h2 {
                    padding-right: vw(40px);
                }
                &:hover {
                    h2,
                    p {
                        color: $greyscale-1200;
                    }
                }
                h2,
                p {
                    color: $greyscale-900;
                }
            }

            /* 질문 */
            &-item-question {
                justify-content: space-between;
                &-txt {
                    display: flex;
                }
                &-icon {
                    color: $default;
                }

                h2,
                p,
                &-icon {
                    @include font-20px-B;
                    transition: 0.3s;
                }
            }

            /* 답변(기본: 닫힘) */
            &-item-answer {
                display: none;

                h2,
                p {
                }

                h2 {
                    color: $mint;
                    @include font-20px-B;
                }
                p {
                    @include font-20px;
                }
            }

            /* ---- 아이템 스코프 ---- */
            &-item {
                &.on {
                    .faq-main-item-question {
                        background-color: #fafafa;
                        border-bottom-color: transparent; // 분리감 주기(선택)
                        h2,
                        p {
                            color: $default;
                        }
                        &-icon {
                            height: vw(25px);
                            transform: rotate(-180deg);
                        }
                    }
                    .faq-main-item-answer {
                        background-color: #fafafa;
                        display: flex; // 펼침
                    }
                }
            }
        }
    }

    .guide {
        &-main {
            &-wrap {
                display: flex;
                gap: vw(20px);
            }
            &-box {
                width: vw(330px);
                height: vw(110px);
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 20px;
                background-color: $foundation-mint-light;
                border-radius: vw(20px);
                padding: vw(20px);

                cursor: pointer;
                &:hover {
                    transform: translateY(-5%);
                    transition: 0.2s;
                    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
                }
                .img-box {
                    width: 30px;
                    height: 30px;
                }
                .txt-box {
                    display: flex;
                    flex-direction: column;
                    h2 {
                        @include font-20px-B;
                        color: $greyscale-1200;
                    }
                    p {
                        @include font-14px-M;
                        color: $greyscale-1000;
                    }
                }
            }
        }
    }
}
