@use '../../../styles/utils' as *;

#TourMain {
    background-color: green;
    .tour-main-con {
        height: vw(1080px);
        position: relative;
        &1 {
            background-color: $black;
            .head-txt-box {
                margin-top: vw(260px);
                text-align: center;
                color: $white;
                h2 {
                    font-size: rem(50px);
                    font-weight: 700;
                    margin-bottom: vw(20px);
                    span {
                        color: $orange;
                    }
                }
                p {
                    @include font-24px-M;
                }
            }
            .body-slide {
                width: 100%;
                display: flex;
                gap: 10px;
                margin-top: vw(150px);

                .img-wrap {
                    border-radius: 20px;
                    overflow: hidden;
                    width: 290px;
                    height: 300px;
                    background-color: white;
                    img {
                    }
                }
            }
        }
        &2 {
            .btns-wrap {
                margin-top: vw(155px);
                display: flex;
                justify-content: end;
                gap: vw(20px);
                .button {
                    width: vw(110px);
                    height: vw(44px);
                    @include font-14px-B;
                    line-height: rem(22px);
                }
            }
            .main-section-wrap {
                margin-top: vw(70px);
                display: flex;
                justify-content: space-between;

                .title-section {
                    .txt-box {
                        color: $white;
                        width: vw(640px);
                        strong {
                            font-size: rem(45px);
                            font-weight: 700;
                        }
                        h3 {
                            font-size: rem(62px);
                            font-weight: 700;
                        }
                        p {
                            margin-top: vw(116px);
                        }
                    }
                    .icons-wrap {
                        color: $white;
                    }
                }
                .img-section {
                    margin-top: 70px;

                    width: vw(444px);
                    height: vw(618px);
                    background-color: red;
                }
            }
            .more-wrap {
                display: flex;
                justify-content: center;
                .more {
                    width: vw(162px);
                    height: vw(46px);
                    @include font-14px-M;
                }
            }
        }
    }
}
