.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

#TourMain .tour-main-con {
  height: 56.25vw;
  position: relative;
}
#TourMain .tour-main-con1 {
  background-color: #101010;
}
#TourMain .tour-main-con1 .head-txt-box {
  padding-top: 13.5416666667vw;
  text-align: center;
  color: #fff;
}
#TourMain .tour-main-con1 .head-txt-box h2 {
  font-size: 3.125rem;
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 1.0416666667vw;
}
#TourMain .tour-main-con1 .head-txt-box h2 span {
  color: #ff7f50;
}
#TourMain .tour-main-con1 .head-txt-box p {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.3125rem;
}
#TourMain .tour-main-con1 .body-slide {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 7.8125vw;
}
#TourMain .tour-main-con1 .body-slide .img-wrap {
  border-radius: 20px;
  overflow: hidden;
  width: 290px;
  height: 300px;
  background-color: white;
}
#TourMain .tour-main-con2 {
  background-image: url("images/tour/main/con2_back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  box-sizing: border-box;
}
#TourMain .tour-main-con2 .btns-wrap {
  padding-top: 8.0729166667vw;
  display: flex;
  justify-content: end;
  gap: 1.0416666667vw;
}
#TourMain .tour-main-con2 .btns-wrap .button {
  width: 5.7291666667vw;
  height: 2.2916666667vw;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.3125rem;
  line-height: 1.375rem;
}
#TourMain .tour-main-con2 .main-section-wrap {
  margin-top: 3.6458333333vw;
  display: flex;
  justify-content: space-between;
}
#TourMain .tour-main-con2 .main-section-wrap .title-section .txt-box {
  color: #fff;
  width: 33.3333333333vw;
}
#TourMain .tour-main-con2 .main-section-wrap .title-section .txt-box strong {
  font-size: 2.8125rem;
  font-weight: 700;
}
#TourMain .tour-main-con2 .main-section-wrap .title-section .txt-box h3 {
  padding-top: 1.5625vw;
  font-size: 3.875rem;
  font-weight: 700;
}
#TourMain .tour-main-con2 .main-section-wrap .title-section .txt-box p {
  margin-top: 6.0416666667vw;
}
#TourMain .tour-main-con2 .main-section-wrap .title-section .icons-wrap {
  margin-top: 10.9375vw;
  display: flex;
  gap: 3.6458333333vw;
  color: #fff;
}
#TourMain .tour-main-con2 .main-section-wrap .title-section .icons-wrap .icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5208333333vw;
}
#TourMain .tour-main-con2 .main-section-wrap .title-section .icons-wrap .icon-box .img-wrap {
  width: 2.0833333333vw;
  height: 2.0833333333vw;
  overflow: hidden;
}
#TourMain .tour-main-con2 .main-section-wrap .title-section .icons-wrap .icon-box .img-wrap img {
  width: 100%;
}
#TourMain .tour-main-con2 .main-section-wrap .title-section .icons-wrap .icon-box p {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.3125rem;
  text-align: center;
}
#TourMain .tour-main-con2 .main-section-wrap .img-section {
  margin-top: 70px;
  width: 23.125vw;
  height: 32.1875vw;
}
#TourMain .tour-main-con2 .main-section-wrap .img-section .img-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#TourMain .tour-main-con2 .main-section-wrap .img-section .img-wrap img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#TourMain .tour-main-con2 .more-wrap {
  display: flex;
  justify-content: center;
}
#TourMain .tour-main-con2 .more-wrap .more {
  width: 8.4375vw;
  height: 2.3958333333vw;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.3125rem;
}
#TourMain .tour-main-con3 .head {
  padding-top: 10.4166666667vw;
  padding-bottom: 3.6458333333vw;
  font-size: 2.5rem;
  font-weight: 700;
}
#TourMain .tour-main-con3 .package-wrap {
  display: flex;
  gap: 3.125vw;
  justify-content: space-between;
}
#TourMain .tour-main-con3 .package-wrap li {
  width: 16.9791666667vw;
  height: 28.75vw;
  border: 0.0520833333vw solid #353535;
  overflow: hidden;
  border-radius: 0.5208333333vw;
}
#TourMain .tour-main-con3 .package-wrap li .img-wrap {
  width: 100%;
  height: 16.6666666667vw;
  position: relative;
}
#TourMain .tour-main-con3 .package-wrap li .img-wrap img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#TourMain .tour-main-con3 .package-wrap li .txt-wrap {
  padding: 1.0416666667vw;
  display: flex;
  flex-direction: column;
  gap: 0.7291666667vw;
}
#TourMain .tour-main-con3 .package-wrap li .txt-wrap .title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.3125rem;
  white-space: pre-line;
  line-height: 1.4;
}
#TourMain .tour-main-con3 .package-wrap li .txt-wrap .des {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.3125rem;
}
#TourMain .tour-main-con3 .package-wrap li .txt-wrap .info {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.3125rem;
}
#TourMain .tour-main-con3 .package-wrap li .txt-wrap .price {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.3125rem;
}/*# sourceMappingURL=style.css.map */