@use '../../styles/utils' as *;

:root {
    --ratio: 257 / 364;
    --t: 0.133333334s;
    --min-card-width: 192px;
    --accent: oklch(from #ffd60a l c h);
    --surface: oklch(from #166496 0.12 min(c, 0.0512) h);

    --average-l: 0.48;
    --average-l-2: 0.36;
    --average-base: oklch(from #ffd60a var(--average-l) 0.0192 h);
    --text: white;

    --radius: 0.5rem;
    --border-size: 0.25rem;

    background: var(--surface);
    color: var(--text);
    font-size: clamp(0.875rem, 0.8214285714rem + 0.2380952381vw, 1rem) !important;
    line-height: 1.3;
}

@media (prefers-color-scheme: light) {
    :root {
        --average-l: 0.72;
        --average-l-2: 0.6;
        --accent: oklch(from #166496 l c h);
        --surface: oklch(from #ffd60a 1 min(c, 0.0256) h);
        --average-base: oklch(from #ffd60a 0.48 0.0192 h);
        --text: black;
    }
}

.intro-slider {
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;

    main.intro-slider {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .background-slide {
        position: absolute;
        top: 0;
        left: 0;
        // z-index: 10;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: brightness(0.5); // 필요 시 추가
    }

    .slider {
        position: relative;
        height: 100vh;
        width: 100vw;
    }

    .item {
        width: 200px;
        height: 300px;
        list-style: none;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        z-index: 1;
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
        transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

        &:nth-child(1),
        &:nth-child(2) {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: none;
            border-radius: 0;
            box-shadow: none;
            opacity: 1;

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                background: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.3) 0%,
                    rgba(255, 255, 255, 0.5) 43%,
                    rgba(255, 255, 255, 1) 74%
                );
                z-index: 0;
                pointer-events: none;
            }
        }

        &:nth-child(3) {
            // left: 50%;
            left: 17.97vw;
            width: 380px;
            height: 500px;
            z-index: 10;
        }
        &:nth-child(4) {
            left: 12.34vw;
            width: 350px;
            height: 470px;
            z-index: 5;
            opacity: 40%;
            // background: #fff;
        }
        &:nth-child(5) {
            left: 7.6vw;
            width: 325px;
            height: 430px;
            opacity: 20%;
        }
        &:nth-child(6) {
            opacity: 0;
            left: 5vw;
        }
    }

    .content {
        color: white;
        opacity: 0;
        width: 100vw;
        height: 100vh;

        .title {
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 900;
            backdrop-filter: blur(3px);
            font-size: 150px;
            font-family: suit;
            position: absolute;
            top: 17.29vh;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
        }
        .texts {
            width: 490px;
            font-family: 'pretendard';
            color: rgba(0, 0, 0, 1);
            opacity: 1;
            position: absolute;
            top: 50vh;
            left: 50.73vw;
            .inform {
                display: flex;
                justify-content: space-between;
                margin-bottom: 60px;
                font-size: 20px;
                font-weight: 600;
                strong {
                    color: #ff571b;
                }
            }
            .description {
                line-height: 1.7;
                font-size: 17px;
                font-weight: 300;
                margin-bottom: 75px;
            }
            button {
                background-color: #fff;
                padding: 10px;
                width: 100%;
                border-radius: 30px;
                border: 1px solid #c5c5c5;
                color: #555555;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }

    .item:nth-of-type(2) .content {
        display: block;
        animation: show 0.7s ease-in-out 0.3s forwards;
        .title {
            opacity: 0;
            animation: showTitle 0.75s ease-in-out forwards;
            animation-delay: 0.3s;
        }
        @keyframes showTitle {
            0% {
                opacity: 0;
                filter: blur(5px);
                // transform: translateY(calc(-50% + 75px));
            }
            100% {
                opacity: 1;
                filter: blur(0);
                // transform: translateY(0);
            }
        }
        .texts {
            opacity: 0;
            animation: showTexts 1s ease-in-out forwards;
            animation-delay: 1.1s;
        }
        @keyframes showTexts {
            0% {
                opacity: 0;
                filter: blur(5px);
                transform: translateY(calc(-50% + 75px));
            }
            100% {
                opacity: 1;
                filter: blur(0);
                transform: translateY(0);
            }
        }
    }

    @keyframes show {
        0% {
            filter: blur(5px);
            // transform: translateY(calc(-50% + 75px));
        }
        100% {
            opacity: 1;
            filter: blur(0);
        }
    }

    .navBtn {
        position: absolute;
        bottom: 2rem;
        left: 38vw;
        top: 60vh;
        transform: translateX(-50%);
        z-index: 100;
        user-select: none;

        .btn {
            width: 50px;
            height: 50px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            color: rgba(0, 0, 0, 0.7);
            // border: 2px solid rgba(0, 0, 0, 0.6);
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }

    @media (width > 650px) and (width < 900px) {
        .content {
            .title {
                font-size: 1rem;
            }
            .description {
                font-size: 0.7rem;
            }
            button {
                font-size: 0.7rem;
            }
        }

        .item {
            width: 160px;
            height: 270px;

            &:nth-child(3) {
                left: 50%;
            }
            &:nth-child(4) {
                left: calc(50% + 170px);
            }
            &:nth-child(5) {
                left: calc(50% + 340px);
            }
            &:nth-child(6) {
                left: calc(50% + 510px);
                opacity: 0;
            }
        }
    }

    @media (width < 650px) {
        .content {
            .title {
                font-size: 0.9rem;
            }
            .description {
                font-size: 0.65rem;
            }
            button {
                font-size: 0.7rem;
            }
        }

        .item {
            width: 130px;
            height: 220px;

            &:nth-child(3) {
                left: 50%;
            }
            &:nth-child(4) {
                left: calc(50% + 140px);
            }
            &:nth-child(5) {
                left: calc(50% + 280px);
            }
            &:nth-child(6) {
                left: calc(50% + 420px);
                opacity: 0;
            }
        }
    }
}

// ott_genre//////////////////////////////////////////////

.cardWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .particles {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .container {
        width: 100%;
        h3 {
            text-align: center;
            font-size: 28px;
            font-weight: 800;
            strong {
                color: #ff7f50;
            }
        }
    }

    .swiper {
        width: 100%;
        padding: 30px 0 50px 0;

        .swiper-wrapper {
            // 추가 스타일이 필요하면 여기 작성
        }

        .swiper-slide {
            position: relative;
            width: 200px;
            height: 500px;
            border-radius: 0 10px 10px 10px;
            overflow: hidden;
            transition: 1s;
            user-select: none;

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                // background: linear-gradient(120deg, rgba(255, 127, 80, 0.8), rgba(27, 184, 98, 0.8));
                background: rgba(0, 0, 0, 0.5);
                mix-blend-mode: multiply;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 1s;
            }

            p {
                position: absolute;
                left: 20px;
                top: 20px;
                color: #fff;
                font-size: 24px;
                font-weight: 500;

                letter-spacing: 2px;
                z-index: 2;
                opacity: 0;
                transform: rotate(360deg) scale(0);
                transition: 0.8s;
            }
        }

        .swiper-slide-active {
            position: relative;
            width: 700px;
            transition: 1s;

            &::after {
                background: rgba(123, 123, 123, 0.4);
            }

            img {
                transform: scale(1.1);
                object-position: 50% 0%;
            }

            p {
                transform: rotate(0deg) scale(1);
                opacity: 1;
                strong {
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                width: 16px;
                height: 4px;
                background-color: #bbb;
                border-radius: 50%;
                transition: all 0.6s ease-in-out;

                &-active {
                    width: 50px;
                    background-color: #ff7f50;
                    border-radius: 14px;
                }
            }
        }
    }

    #audio-icon {
        font-size: 2rem;
        color: #fff;
    }

    #play-pause-button {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 3%;
        bottom: 5%;
        background-color: transparent;
        background-image: radial-gradient(
            50% 115% at 50% -5%,
            rgba(255, 255, 255, 0.11) 0%,
            transparent 100%
        );
        box-shadow: inset 0 0px 10px 0px rgba(255, 255, 255, 0.14),
            inset 0px 5px 10px 0px rgba(255, 255, 255, 0.11),
            inset 0px 2px 5px 0px rgba(255, 255, 255, 0.4),
            inset 0px 3px 20px 0px rgba(0, 0, 0, 0.25);
        z-index: 10;
        border: 0;
        border-radius: 50%;
        outline: 0;
        padding: 12px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: rgba(255, 255, 255, 0.05);
        }

        &:active {
            transform: scale(0.95);
        }
    }

    .hidden {
        display: none;
    }

    .logo {
        position: fixed;
        right: -20px;
        bottom: -35px;
        z-index: 20;

        img {
            width: 120px;
        }

        @media (max-width: 890px) {
            right: -10px;
            bottom: -20px;

            img {
                width: 80px;
            }
        }
    }
}
