@use '../../../../styles/utils/' as *;

.detail-thum {
    height: vw(425px);
    display: flex;
    justify-content: center;
    gap: vw(24px);
    .img-box {
        height: vw(425px);
        border-radius: vw(15px);
    }
    .big-img {
        width: vw(920px);
        background-color: grey;
    }
    .imgs-all-wrap {
        width: vw(456px);
        background-color: aqua;
    }
}
.detail-body-info {
    height: vw(3000px);

    display: flex;
    justify-content: center;
    gap: vw(24px);
    margin-top: vw(30px);
    .left {
        width: vw(920px);
        overflow: hidden;

        box-sizing: border-box;
        background-color: $white;
        .detail-title {
            width: 100%;
            height: vw(330px);

            &-head {
                color: $default;
                margin-bottom: vw(30px);
                em {
                    @include font-16px;
                    margin-bottom: 10px;
                }
                h3 {
                    padding: vw(15px) 0;

                    @include font-32px-SB;
                }
                b {
                    @include font-14px;
                    font-family: 'Suit';
                    text-transform: uppercase;
                    color: #c7c7c7;
                }
                .rate {
                    margin-top: vw(15px);
                }
            }
        }
        .detail-reviews {
            width: 100%;
            overflow: hidden;

            .list {
                display: flex;
                gap: vw(20px);

                li {
                    width: vw(340px);
                    height: vw(170px);
                    border-radius: vw(10px);
                    border: 1px solid $greyscale-400;
                    padding: vw(24px) vw(20px);
                    .lis {
                        &-head {
                            display: flex;
                            justify-content: space-between;
                            &-title {
                                padding: 0;
                                height: min-content;

                                display: flex;
                                justify-content: space-between;
                                width: vw(120px);

                                .thumbs {
                                    width: vw(40px);
                                    height: vw(40px);
                                    border-radius: vw(999px);
                                    background-color: grey;
                                    // position: relative;
                                    img {
                                        // position: absolute;
                                        left: 50%;
                                        top: 50%;
                                        transform: translate(-50%, -50%);
                                    }
                                }
                                .txt {
                                    width: vw(64px);
                                    strong {
                                        @include font-14px;
                                    }
                                    p {
                                        @include font-12px;
                                    }
                                }
                            }
                            .rate-box {
                                height: min-content;
                                color: $star;
                            }
                        }
                        &-body {
                            p {
                                display: -webkit-box;
                                -webkit-line-clamp: 4; // 최대 4줄
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: normal; // 줄바꿈 허용
                            }
                        }
                    }
                }
            }
        }
        .detail-data {
            // border: 1px solid #000;
            width: 100%;
            &-tab {
                padding-top: vw(55px);
                &-btns-wrap {
                    display: flex;
                    gap: vw(35px);
                    button {
                        background-color: transparent;
                        padding: vw(10px);
                        border: none;
                        @include font-16px;
                        color: $greyscale-1100;
                        &.on {
                            border-bottom: vw(2px) solid $greyscale-1100;
                        }
                    }
                }
            }
            .con {
                h2 {
                    @include font-24px-B;
                    padding: vw(30px) 0;
                }

                &1 {
                    .service-wrap {
                        display: flex;
                        gap: vw(70px);
                        height: vw(24px);
                        li {
                            display: flex;
                            align-items: center;
                            img {
                                margin-right: vw(8px);
                            }
                            @include font-16px;
                        }
                    }
                }

                &.advertise {
                    margin: vw(90px) 0;
                }
                &2 {
                    .description-wrap {
                        .itinerary-header {
                            .txt-wrap {
                                display: flex;
                                gap: vw(50px);
                                align-items: center;
                                height: vw(50px);
                                border-bottom: vw(2px) solid $default;
                                p {
                                    @include font-20px-B;
                                    padding: vw(10px);
                                }
                            }
                            .notice {
                                padding: vw(50px) 0;
                                @include font-20px-B;
                                padding-left: vw(15px);
                                color: #868686;
                            }
                        }

                        .flight-info {
                            width: vw(810px);
                            height: vw(150px);
                            border-radius: vw(15px);
                            padding: vw(40px) vw(120px);

                            border: 1px solid $greyscale-600;

                            .flight-card {
                                width: vw(570px);
                                height: vw(70px);
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .airline {
                                    display: flex;
                                    gap: vw(6px);
                                    .thumbs {
                                        width: vw(20px);
                                        height: vw(20px);
                                        background-color: red;
                                        img {
                                        }
                                    }
                                    p {
                                        @include font-16px;
                                        span {
                                            @include font-12px;
                                            color: $greyscale-1000;
                                        }
                                    }
                                }
                                .schedule {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    gap: vw(5px);

                                    time {
                                        @include font-14px;
                                    }
                                    strong {
                                        @include font-18px;
                                    }
                                    span {
                                        @include font-12px-SB;
                                        color: $greyscale-1000;
                                    }
                                }
                                .air-type {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    gap: vw(10px);
                                    .line-wrap {
                                        width: vw(112px);
                                        height: vw(8px);
                                        display: flex;
                                        justify-content: space-between;
                                        position: relative;
                                        .circle {
                                            width: vw(8px);
                                            height: vw(8px);
                                            background-color: #d9d9d9;
                                        }
                                        .line {
                                            position: absolute;
                                            width: 100%;
                                            height: vw(1px);
                                            background-color: #d9d9d9;
                                            top: 50%;
                                            left: 0;
                                            transform: translateY(-50%);
                                        }
                                    }

                                    p {
                                        color: #737373;
                                        font-family: 'Pretendard';

                                        &:last-child {
                                            color: $orange;
                                        }
                                    }
                                }
                            }
                        }
                        .point {
                            position: relative;
                            &::after {
                                position: absolute;
                                content: '';
                                background-color: $orange;
                                left: vw(-140px);
                                top: vw(35px);
                                width: vw(10px);
                                height: vw(10px);
                                z-index: 2;
                                @include circle;
                            }
                            &.point-end {
                                &::before {
                                    position: absolute;
                                    content: '';
                                    background-color: $white;
                                    left: vw(-140px);
                                    top: 45px;
                                    width: 10px;
                                    height: 100%;
                                    z-index: 3;
                                }
                            }
                        }
                        .section-wrap {
                            padding-left: vw(32px);
                            position: relative;
                            &::after {
                                position: absolute;
                                content: '';
                                background-color: $greyscale-500;
                                width: vw(2px);
                                height: 100%;
                                left: vw(10px);
                                top: vw(35px);
                                z-index: 1;
                            }
                            .notice-section {
                                li {
                                    @include font-18px-SB;
                                    margin-bottom: vw(5px);
                                    span {
                                        @include font-16px-M;
                                    }
                                }
                                p {
                                    @include font-14px-SB;
                                    color: $greyscale-900;
                                }
                            }
                            .airport-section {
                                margin-top: vw(60px);
                                h2 {
                                    padding-bottom: vw(10px);
                                    &:last-child {
                                        padding-top: vw(5px);
                                    }
                                }
                            }
                            .schedule-section {
                                margin-top: vw(60px);
                                em {
                                    @include font-16px-M;
                                }
                                li {
                                    @include font-18px-SB;
                                }
                                .photo-wrap {
                                    width: vw(880px);
                                    padding-top: vw(72px);
                                    display: flex;
                                    gap: vw(16px);
                                    div {
                                        width: vw(200px);
                                        height: vw(197px);
                                        border-radius: vw(20px);
                                        background: #d9d9d9;
                                    }
                                }
                            }
                            .hotel-section {
                                p {
                                    @include font-18px-SB;
                                }
                                .tabs {
                                    margin: vw(80px);
                                    li {
                                        padding: vw(30px);
                                        border: 1px solid #c5c5c5;
                                        width: vw(600px);
                                        height: vw(84px);
                                        border-radius: 15px;
                                        margin-bottom: 14px;
                                        display: flex;
                                        align-items: center;
                                        gap: 12px;
                                        .img-wrap {
                                            width: 24px;
                                            height: 24px;
                                            img {
                                                width: 100%;
                                            }
                                        }
                                        strong {
                                            @include font-12px-SB;
                                            display: flex;
                                            flex-direction: column;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &3,
                &4 {
                    width: vw(1400px);
                }
            }
        }
    }
    .right {
        width: vw(456px);
        // height: vw(2500px);
        .detail-side {
            width: 100%;
            height: vw(460px);
            border-radius: vw(15px);
            background-color: grey;
            padding: vw(40px) vw(30px);
            border: 1px solid #c7c7c7;
            background-color: $white;
            position: sticky;
            top: vw(100px);

            .box {
                &-thum {
                    width: vw(60px);
                    height: vw(55px);
                    background-color: red;
                    img {
                    }
                }
                &-head {
                    display: flex;
                    gap: vw(25px);
                    margin-bottom: vw(70px);
                    strong {
                        @include font-20px-M;
                    }
                }
                &-option {
                    height: vw(190px);
                    margin-bottom: vw(10px);
                    background-color: #f5f5f5;

                    border-radius: vw(15px);
                    padding: vw(22px);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .people,
                    .peop-wrap,
                    .total-wrap {
                        display: flex;
                        justify-content: space-between;
                    }
                    .people {
                        .peop-wrap {
                            width: vw(150px);
                            .type {
                            }
                            .price {
                            }
                        }
                        .step {
                            .button {
                                background-color: transparent;
                                &.minus {
                                }
                                &.plus {
                                }
                            }
                        }
                    }
                    .total-wrap {
                        padding: vw(15px) 0;
                        strong {
                            @include font-20px-B;
                        }
                        em {
                            @include font-24px;
                        }
                    }
                }
            }
            .btn-wrap {
                button {
                    line-height: 50%;
                    &.reserve {
                        width: 100%;
                        border-radius: vw(8px);
                    }
                }
            }
        }
    }
}
