
@use "../../../../styles/utils" as *;

.circle-component {
  display: flex;
  width: 100%;
  height: 100vw;
  position: absolute;
  left: 0;
  .left {
    .background {
    }
  }
  .right {
    position: absolute;
    right: 0;
    .profile-svg {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;

      img {
        cursor: pointer;
        transform-origin: center;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &:hover {
          transform: scale(1.1);
          opacity: 0.9;
>>>>>>> 52069f1f2d13c6b3a79dca22e120df6d6235eae0
        }
      }
    }
  }
}
