@use './unit' as *;

// --------------------
// FONT MIXINS
// --------------------

// 36px
@mixin font-36px-B {
    font-size: rem(36px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-36px {
    font-size: rem(36px);
    font-weight: 400;
    letter-spacing: 0;
    line-height: rem(21px);
}

// 35px
@mixin font-35px-B {
    font-size: rem(35px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: rem(21px);
}

// 32px
@mixin font-32px-B {
    font-size: rem(32px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-32px-SB {
    font-size: rem(32px);
    font-weight: 600;
    letter-spacing: 0;
    line-height: rem(21px);
}

// 30px
@mixin font-30px-B {
    font-size: rem(30px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-30px-M {
    font-size: rem(30px);
    font-weight: 500;
    letter-spacing: 0;
    line-height: rem(21px);
}

// 28px
@mixin font-28px-B {
    font-size: rem(28px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-28px-EB {
    font-size: rem(28px);
    font-weight: 800;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-28px-M {
    font-size: rem(28px);
    font-weight: 500;
    letter-spacing: 0;
    line-height: rem(21px);
}

// 24px
@mixin font-24px-B {
    font-size: rem(24px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-24px-SB {
    font-size: rem(24px);
    font-weight: 600;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-24px-M {
    font-size: rem(24px);
    font-weight: 500;
    letter-spacing: 0;
    line-height: rem(21px);
}

// 22px
@mixin font-22px {
    font-size: rem(22px);
    font-weight: 400;
    letter-spacing: 0;
    line-height: rem(21px);
}

// 20px
@mixin font-20px-B {
    font-size: rem(20px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-20px-SB {
    font-size: rem(20px);
    font-weight: 600;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-20px-M {
    font-size: rem(20px);
    font-weight: 500;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-20px {
    font-size: rem(20px);
    font-weight: 400;
    letter-spacing: 0;
    line-height: rem(21px);
}

// 18px
@mixin font-18px-B {
    font-size: rem(18px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-18px-SB {
    font-size: rem(18px);
    font-weight: 600;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-18px-M {
    font-size: rem(18px);
    font-weight: 500;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-18px {
    font-size: rem(18px);
    font-weight: 400;
    letter-spacing: 0;
    line-height: rem(21px);
}

// 16px
@mixin font-16px-EB {
    font-size: rem(16px);
    font-weight: 800;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-16px-B {
    font-size: rem(16px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-16px-SB {
    font-size: rem(16px);
    font-weight: 600;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-16px-M {
    font-size: rem(16px);
    font-weight: 500;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-16px {
    font-size: rem(16px);
    font-weight: 400;
    letter-spacing: 0;
    line-height: rem(21px);
}

// 14px
@mixin font-14px-B {
    font-size: rem(14px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-14px-SB {
    font-size: rem(14px);
    font-weight: 600;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-14px-M {
    font-size: rem(14px);
    font-weight: 500;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-14px {
    font-size: rem(14px);
    font-weight: 400;
    letter-spacing: 0;
    line-height: rem(21px);
}

// 12px
@mixin font-12px-B {
    font-size: rem(12px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-12px-SB {
    font-size: rem(12px);
    font-weight: 600;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-12px-M {
    font-size: rem(12px);
    font-weight: 500;
    letter-spacing: 0;
    line-height: rem(21px);
}

@mixin font-12px {
    font-size: rem(12px);
    font-weight: 400;
    letter-spacing: 0;
    line-height: rem(21px);
}
