// CouponEvent.scss
.coupon-event-container {
  padding: 60px 20px;
  margin: 0 auto;
  position: relative;
  height: 100vw;
  .coupon-header {
    margin-bottom: 50px;
    .head {
      color: var(--greyscale-1200, #444);
      font-size: 6.25rem;
      font-weight: 600;
      .subhead {
        color: var(--default, #353535);
        font-family: SUIT;
        font-size: 1.5625rem;
        font-weight: 500;
        line-height: 150%;
        margin-top: 200px;
      }
      span {
        font-weight: 400;
      }
    }
    .special-event-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      height: 45px;
      border-radius: 50px;
      background: #ff7f50;
      color: white;
      font-size: 20px;
      font-weight: 400;
      box-shadow: 0 8px 25px rgba(255, 107, 53, 0.3);
      cursor: pointer;

      position: absolute;
      right: 0;
      top: 50px;
    }
  }

  .coupons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    align-items: center;

    @media (max-width: 768px) {
      gap: 20px;
    }

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 25px;
    }
  }

  .coupon-item {
    transition: all 0.3s ease;
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.1));
    position: relative;

    .coupon-image {
      width: 16rem;
      height: auto;
      max-width: 100%;
      display: block;
      user-select: none;
      -webkit-user-drag: none;
      border-radius: 12px;
      gap: 5.19rem;

      @media (max-width: 768px) {
        width: 160px;
      }

      @media (max-width: 480px) {
        width: 200px;
      }
    }
  }
}

// 로딩 상태 스타일
.coupon-image[src=""] {
  background: linear-gradient(90deg, #f0f0f0 25%, transparent 37%, #f0f0f0 63%);
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

.marquee-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100vw;
  position: relative;
}
.marquee {
  margin-top: 6rem;
  display: flex;
  will-change: transform;
}
.coupon-item {
  flex: 0 0 auto;
  margin: 0 16px;
  .coupon-image {
    width: 140px;
    height: auto;
    user-select: none;
    pointer-events: none;
  }
}
