@use "../../styles/utils" as *;

.modal_wrap {
  width: vw(1500px);
  height: vw(800px);
  background-color: #fff;
  border-radius: vw(10px);
}

.list-wrap {
  .list-top {
    p {
      @include font-24px-M;
      margin-bottom: vw(60px);
    }
    .sort {
    }
  }
  .list-box {
    display: flex;
    flex-direction: column;
    gap: vw(20px);
    .hotel-box {
      width: vw(1060px);
      height: vw(280px);
      border: vw(1px) solid $greyscale-600;
      border-radius: vw(10px);
      display: flex;
      gap: vw(40px);
      padding: vw(20px) vw(24px);
      box-sizing: border-box;
      cursor: pointer;
      .hotel-image {
        width: vw(290px);
        height: vw(240px);
        background-color: #333;
        border-radius: vw(4px);
        .heart {
        }
      }
      .hotel-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .info-top {
          margin-top: vw(15px);
          .top-title {
            margin-bottom: vw(15px);
            span {
              color: $greyscale-1100;
              @include font-18px-M;
              display: block;
              // margin-bottom: vw(6px);
            }
            h4 {
              @include font-24px-M;
            }
          }
          .rate {
          }
        }
        .info-bottom {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          width: vw(655px);
          margin-bottom: vw(15px);
          .bottom-location {
            display: flex;
            gap: vw(6px);
            align-items: center;
            margin-bottom: vw(8px);
            img {
            }
            span {
              @include font-20px;
            }
          }
          .bottom-price {
            text-align: right;
            span {
              display: block;
              @include font-20px-M;
              color: $greyscale-1000;
            }
            strong {
              display: block;
              @include font-30px-SB;
            }
          }
        }
      }
    }
  }
}

.reco-box {
  width: vw(326px);
  height: vw(500px);
}
