@use '../../../../styles/utils' as *;

.service-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: vw(50px);
    margin-bottom: vw(18px);

    div {
        display: flex;
        gap: vw(18px);
        img {
        }
        span {
            vertical-align: middle;
        }
    }
}
