@use '../../styles/utils' as *;

#tourPage {
    background-color: yellow;
    width: 100%;
    .inner {
    }

    h2 {
    }
}
@include tablet {
    .about {
        .inner {
            padding: 2rem 0;
        }
        h2 {
            font-size: 2rem;
        }
    }
}
