@use '../../styles/utils' as *;

.modal_wrap {
    width: vw(1500px);
    height: vw(800px);
    background-color: #fff;
    border-radius: vw(10px);
}

.list-wrap {
    .list-top {
        p {
            @include font-24px-M;
            margin-bottom: vw(60px);
        }
        .sort {
        }
    }
    .list-box {
        display: flex;
        flex-direction: column;
        gap: vw(20px);
        .hotel-box {
            width: vw(1060px);
            height: vw(280px);
            border: vw(1px) solid $greyscale-600;
            border-radius: vw(10px);
            display: flex;
            gap: vw(40px);
            padding: vw(20px) vw(24px);
            box-sizing: border-box;
            cursor: pointer;
            .hotel-image {
                width: vw(290px);
                height: vw(240px);
                border-radius: vw(4px);
                overflow: hidden;
                .heart {
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .hotel-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .info-top {
                    margin-top: vw(15px);
                    .top-title {
                        margin-bottom: vw(15px);
                        span {
                            color: $greyscale-1100;
                            @include font-18px-M;
                            display: block;
                            // margin-bottom: vw(6px);
                        }
                        h4 {
                            @include font-24px-M;
                        }
                    }
                    .rate {
                        display: flex;
                        align-items: center;
                        gap: vw(6px);
                    }
                }
                .info-bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    width: vw(655px);
                    margin-bottom: vw(15px);
                    .bottom-location {
                        display: flex;
                        gap: vw(6px);
                        align-items: center;
                        margin-bottom: vw(8px);
                        img {
                        }
                        span {
                            @include font-20px;
                        }
                    }
                    .bottom-price {
                        text-align: right;
                        span {
                            display: block;
                            @include font-20px-M;
                            color: $greyscale-1000;
                        }
                        strong {
                            display: block;
                            @include font-30px-SB;
                        }
                    }
                }
            }
        }
    }
}

.reco-box {
    width: vw(326px);
    height: vw(500px);
}

.room-option-box {
        width: vw(920px);
        height: vw(240px);
        border: 1px solid $greyscale-500;    
        border-radius: vw(10px);
        display: flex;
        box-sizing: border-box;
        padding: vw(20px) vw(25px);

        .room-option-img {
            width: vw(225px);
            height: vw(200px);
            border-radius: vw(4px);
            overflow: hidden;
            margin-right: vw(30px);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .room-option-info {
            width: vw(600px);
            border: none !important;
            margin-bottom: vw(40px);
            padding-top: vw(20px);
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            text-align: right;
           .info-left {
                h3 {
                    @include font-22px;
                    margin-bottom: vw(15px);
                }
                .room-details {                
                        display: flex;
                        flex-direction: column;
                        gap: vw(4px);
                        margin-bottom: vw(35px);
                    li {
                        color: $greyscale-1000;
                        display: flex;
                        align-items: center;
                        gap: vw(8px);
                        img {
                        }
                        span {
                        }
                    }
                }
                .room-include {
                    display: flex;
                    gap: vw(36px);
                    li {
                        display: inline-block;  
                        color: $greyscale-1100;
                        display: flex;
                        align-items: center;
                        gap: vw(-5px);
                        img {}
                    }
                }
           }
           .info-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
                .room-price {
                    span {
                        display: block;
                        @include font-14px;
                        color: $greyscale-1100;
                    }
                    strong {
                        @include font-24px-M;
                        display: flex;
                        gap: vw(4px);
                        span {
                            @include font-18px-M;
                            color: $greyscale-1000;
                            transform: translateY(vw(6px));
                        }
                    }
                }
                button {
                    color: $white;
                    padding: vw(10px) vw(15px);
                    background-color: $mint;
                    border-radius: vw(50px);
                    border: none;
                    transform: translateY(vw(18px));
                    &:hover {
                        background-color: $foundation-mint-normalhover;
                    }
                }
           }
        }
    }