@use '../../styles/utils' as *;

.modal_wrap {
    width: vw(1500px);
    height: vw(800px);
    background-color: #fff;
    border-radius: vw(10px);
}

.list-wrap {
    .list-top {
        p {
            @include font-24px-M;
            margin-bottom: vw(60px);
        }
        .sort {
        }
    }
    .list-box {
        display: flex;
        flex-direction: column;
        gap: vw(20px);
        .hotel-box {
            width: vw(1060px);
            height: vw(280px);
            border: vw(1px) solid $greyscale-600;
            border-radius: vw(10px);
            display: flex;
            gap: vw(40px);
            padding: vw(20px) vw(24px);
            box-sizing: border-box;
            cursor: pointer;
            .hotel-image {
                width: vw(290px);
                height: vw(240px);
                border-radius: vw(4px);
                overflow: hidden;
                .heart {
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .hotel-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .info-top {
                    margin-top: vw(15px);
                    .top-title {
                        margin-bottom: vw(15px);
                        span {
                            color: $greyscale-1100;
                            @include font-18px-M;
                            display: block;
                            // margin-bottom: vw(6px);
                        }
                        h4 {
                            @include font-24px-M;
                        }
                    }
                    .rate {
                        display: flex;
                        align-items: center;
                        gap: vw(6px);
                    }
                }
                .info-bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    width: vw(655px);
                    margin-bottom: vw(15px);
                    .bottom-location {
                        display: flex;
                        gap: vw(6px);
                        align-items: center;
                        margin-bottom: vw(8px);
                        img {
                        }
                        span {
                            @include font-20px;
                        }
                    }
                    .bottom-price {
                        text-align: right;
                        span {
                            display: block;
                            @include font-20px-M;
                            color: $greyscale-1000;
                        }
                        strong {
                            display: block;
                            @include font-30px-SB;
                        }
                    }
                }
            }
        }
    }
}

.reco-box {
    width: vw(326px);
    height: vw(500px);
}

.room-option-box {
    width: vw(920px);
    height: vw(240px);
    border: 1px solid $greyscale-500;
    border-radius: vw(10px);
    display: flex;
    box-sizing: border-box;
    padding: vw(20px) vw(25px);

    .room-option-img {
        width: vw(225px);
        height: vw(200px);
        border-radius: vw(4px);
        overflow: hidden;
        margin-right: vw(30px);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .room-option-info {
        width: vw(600px);
        border: none !important;
        margin-bottom: vw(40px);
        padding-top: vw(20px);
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        text-align: right;
        .info-left {
            h3 {
                @include font-22px;
                margin-bottom: vw(15px);
            }
            .room-details {
                display: flex;
                flex-direction: column;
                gap: vw(4px);
                margin-bottom: vw(35px);
                li {
                    color: $greyscale-1000;
                    display: flex;
                    align-items: center;
                    gap: vw(8px);
                    img {
                    }
                    span {
                    }
                }
            }
            .room-include {
                display: flex;
                gap: vw(36px);
                li {
                    display: inline-block;
                    color: $greyscale-1100;
                    display: flex;
                    align-items: center;
                    gap: vw(-5px);
                    img {
                    }
                }
            }
        }
        .info-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .room-price {
                span {
                    display: block;
                    @include font-14px;
                    color: $greyscale-1100;
                }
                strong {
                    @include font-24px-M;
                    display: flex;
                    gap: vw(4px);
                    span {
                        @include font-18px-M;
                        color: $greyscale-1000;
                        transform: translateY(vw(6px));
                    }
                }
            }
            button {
                color: $white;
                padding: vw(10px) vw(15px);
                background-color: $mint;
                border-radius: vw(50px);
                border: none;
                transform: translateY(vw(18px));
                &:hover {
                    background-color: $foundation-mint-normalhover;
                }
            }
        }
    }
}

.follows {
    margin-left: vw(16px);
    li {
        position: relative;
        &::before {
            content: '';
            display: block;
            width: vw(4px);
            height: vw(4px);
            border-radius: 100%;
            background-color: $greyscale-1200;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transform: translateX(vw(-60px));
        }
    }
}

.pay {
}

.payment-left {
    border: vw(0.5px) solid $greyscale-600;
    border-radius: vw(10px);
    box-sizing: border-box;
    padding: vw(40px);
    width: vw(891px);
    padding-bottom: vw(150px);
    .pay-detail {
        h3 {
            @include font-24px-M;
            margin-bottom: vw(50px);
            display: flex;
            align-items: center;
            gap: vw(12px);
        }

        .pay-box-wrap {
            display: flex;
            flex-direction: column;
            gap: vw(65px);
            h4 {
                @include font-20px-SB;
                margin-bottom: vw(20px);
            }
            .pay-schedule {
                .check-in-out {
                    width: 100%;
                    height: vw(124px);
                    background-color: $greyscale-200;
                    border-radius: vw(15px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: vw(130px);
                    text-align: center;
                    .check-in,
                    .check-out {
                        p {
                            @include font-16px-M;
                            color: $mint;
                        }
                        strong {
                            @include font-18px;
                        }
                    }
                    .nights {
                        p {
                            box-sizing: border-box;
                            padding: vw(10px) vw(12px);
                            background-color: $white;
                            border-radius: vw(40px);
                        }
                    }
                }
            }
            .pay-party {
                p {
                    @include font-18px;
                    color: $greyscale-1100;
                }
            }
            .pay-resname {
                p {
                    span {
                        @include font-18px;
                        color: $greyscale-1100;
                    }
                }
            }
            .pay-passport {
                .eng-name {
                    display: flex;
                    gap: vw(10px);
                    input {
                        text-indent: vw(20px);
                        padding: vw(16.5px) 0;
                        box-sizing: border-box;
                        width: vw(266px);
                        height: vw(52px);
                        border: vw(0.8px) solid $greyscale-600;
                        border-radius: vw(6px);
                        color: $greyscale-1200;
                        @include font-16px;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            .pay-request {
                textarea {
                    resize: none;
                    width: vw(546px);
                    height: vw(115px);
                    border: vw(0.8px) solid $greyscale-600;
                    border-radius: vw(6px);
                    @include font-16px;
                    color: $greyscale-1200;
                    font-family: 'Suit';
                    padding: vw(20px);
                    &:focus {
                        outline: none;
                    }
                }
            }
            .pay-coupon {
                select {
                    width: vw(546px);
                    height: vw(52px);
                    border: 0.8px solid $greyscale-600;
                    border-radius: vw(6px);
                    box-sizing: border-box;
                    padding: vw(16px) vw(30px);
                    option {
                        @include font-16px;
                        span {
                            color: $orange;
                        }
                    }
                }
            }
            .pay-point {
                input {
                    width: vw(426px);
                    height: vw(52px);
                    border: 0.8px solid $greyscale-600;
                    border-radius: vw(6px);
                    margin-right: vw(10px);
                    &:focus {
                        outline: none;
                    }
                }
                button {
                    width: vw(110px);
                    height: vw(52px);
                    border-radius: vw(6px);
                    background-color: $foundation-mint-lighthover;
                    border: none;
                    color: $greyscale-1200;
                    @include font-16px;
                    &:hover {
                        background-color: $foundation-mint-lightactive;
                    }
                }
            }
            .pay-method {
                h5 {
                    @include font-16px-M;
                    margin-right: vw(45px);
                }
                ul {
                }
                .payments {
                    display: flex;
                    gap: vw(15px);
                    margin-bottom: vw(30px);
                    li {
                        width: vw(190px);
                        height: vw(120px);
                        border-radius: vw(6px);
                        border: 0.8px solid $greyscale-600;
                        position: relative;
                        font-size: vw(36px);
                        text-align: center;
                        &:first-child {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: vw(2px);
                        }
                        span {
                            display: block;
                            @include font-14px-M;
                        }
                        img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
                .card-types {
                    display: flex;
                    margin-bottom: vw(10px);
                    align-items: center;
                    ul {
                        width: vw(338px);
                        height: vw(52px);
                        border-radius: vw(6px);
                        border: 0.8px solid $greyscale-600;
                    }
                }
                .installment {
                    display: flex;
                    align-items: center;
                    ul {
                        width: vw(170px);
                        height: vw(52px);
                        border-radius: vw(6px);
                        border: 0.8px solid $greyscale-600;
                    }
                }
                .pay-default {
                    margin-top: vw(30px);
                    span {
                        width: vw(12px);
                        height: vw(12px);
                        display: inline-block;
                        margin-right: vw(15px);
                        border: 1px solid $default;
                    }
                    p {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.payment-right {
    border: vw(0.5px) solid $greyscale-600;
    border-radius: vw(10px);
    box-sizing: border-box;
    padding: vw(50px) vw(30px);
    width: vw(455px);
    height: vw(660px);
    .res-title {
        display: flex;
        gap: vw(25px);
        align-items: center;
        margin-bottom: vw(45px);
        .ht-img {
            width: vw(110px);
            height: vw(100px);
            border-radius: vw(4px);
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text {
            span {
                display: block;
                &:nth-child(1) {
                    @include font-14px;
                    color: $greyscale-1000;
                }
                &:nth-child(2) {
                    @include font-20px-M;
                }
                &:nth-child(3) {
                    @include font-16px;
                }
            }
        }
    }
    .res-prices {
        box-sizing: border-box;
        padding: vw(28px) vw(22px);
        background-color: $greyscale-200;
        border-radius: vw(15px);
        display: flex;
        flex-direction: column;
        gap: vw(25px);
        height: vw(281px);
        .price {
            display: flex;
            flex-direction: column;
            gap: vw(6px);
            li {
                display: flex;
                justify-content: space-between;
                &:first-child {
                    b {
                        @include font-18px-M;
                    }
                }
                span {
                    @include font-14px;
                    color: $greyscale-1000;
                }
            }
        }
        p {
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-top: vw(16px);
            &::before {
                content: '';
                width: vw(351px);
                height: vw(1px);
                background-color: $greyscale-600;
                position: absolute;
                top: vw(-60px);
            }
            strong {
                @include font-20px-M;
            }
        }
    }
    .assent {
        @include font-16px;
        margin-top: vw(25px);
        margin-bottom: vw(25px);
        span {
            width: vw(12px);
            height: vw(12px);
            display: inline-block;
            border: 1px solid $default;
            margin-right: vw(15px);
        }
    }
    button {
        width: vw(395px);
        height: vw(52px);
        background-color: $orange;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: vw(8px);
        @include font-20px-M;
        border: none;
        &:hover {
            background-color: $foundation-orange-normalhover;
        }
    }
}

.hotel-pay-completed {
    .inner {
        display: flex;
    }
}

.detail-right {
    width: vw(455px);
    height: vw(477px);
    .detail-side {
        width: 100%;
        height: vw(460px);
        border-radius: vw(15px);
        background-color: grey;
        padding: vw(40px) vw(30px);
        border: 1px solid $greyscale-500;
        background-color: $white;
        position: sticky;
        top: vw(30px);

        .box {
            &-thum {
                width: vw(60px);
                height: vw(55px);
                background-color: red;
                img {
                }
            }
            &-head {
                display: flex;
                gap: vw(25px);
                margin-bottom: vw(24px);
                strong {
                    @include font-20px-M;
                }
                .box-thum {
                    width: vw(60px);
                    height: vw(55px);
                    overflow: hidden;
                    border-radius: vw(4px);
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .box-select {
                    strong {
                        display: block;
                    }
                    .party {
                        color: $greyscale-900;
                        margin-top: vw(4px);
                        display: block;
                    }
                }
            }
            .per-day {
                @include font-20px-M;
                margin-bottom: vw(24px);
                span {
                    @include font-16px;
                    color: $greyscale-900;
                }
            }
            &-option {
                height: vw(190px);
                margin-bottom: vw(10px);
                background-color: #f5f5f5;

                border-radius: vw(15px);
                padding: vw(22px);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // .people,
                // .peop-wrap,
                // .total-wrap {
                //     display: flex;
                //     justify-content: space-between;
                // }
                // .people {
                //     .peop-wrap {
                //         width: vw(150px);
                //         .type {
                //         }
                //         .price {
                //         }
                //     }
                //     .step {
                //         .button {
                //             background-color: transparent;
                //             &.minus {
                //             }
                //             &.plus {
                //             }
                //         }
                //     }
                // }
                // .total-wrap {
                //     padding: vw(15px) 0;
                //     strong {
                //         @include font-20px-B;
                //     }
                //     em {
                //         @include font-24px;
                //     }
                // }
                .res-prices {
                    .total {
                        color: $greyscale-900;
                        display: flex;
                        flex-direction: column;
                        gap: vw(5px);
                        li {
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                    .total-wrap {
                        display: flex;
                        justify-content: space-between;
                        margin-top: vw(35px);
                        position: relative;
                        &::before {
                            content: '';
                            display: block;
                            background-color: $greyscale-600;
                            width: vw(350px);
                            height: vw(1px);
                            position: absolute;
                            top: vw(-80px);
                        }
                        strong {
                        }
                        em {
                            @include font-24px;
                        }
                    }
                }
            }
        }
        .btn-wrap {
            button {
                margin-top: vw(20px);
                @include font-20px;
                height: vw(52px);
                &.reserve {
                    width: 100%;
                    border-radius: vw(8px);
                }
            }
        }
    }
}

#detail-Bot-Reviews {
    .title {
        span {
            margin-left: vw(10px);
            color: #5c5c5c;
        }
    }
    .reviews {
        &-wrap {
            &-head {
                margin-top: vw(70px);
                display: flex;
                flex-direction: column;
                padding-bottom: vw(60px);
                border-bottom: vw(1px) solid #ddd;

                .rate {
                    margin: 0 vw(240px);
                    margin-bottom: vw(40px);

                    span {
                        color: $star;
                        margin-right: vw(10px);
                    }
                    @include font-30px-M;
                }
                &-imgs {
                    height: vw(150px);
                    display: flex;
                    justify-content: center;
                    gap: vw(4px);

                    .img-wrap {
                        border-radius: vw(7px);
                        overflow: hidden;
                        width: vw(150px);
                        background-color: #5c5c5c;
                        img {
                        }
                    }
                }
            }
            &-body {
                &-list {
                    li {
                        height: vw(420px);
                        padding: vw(20px);
                        display: flex;
                        justify-content: space-between;
.rate-zone {
    margin-bottom: vw(15px);
}
                        .name-line {
                            width: vw(220px);

                            display: flex;
                            gap: 15px;
                            .thumbs {
                                @include circle;
                                width: vw(40px);
        height: vw(40px);
        border-radius: 100%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;

        }
                            }
                            .txts {
                                display: flex;
                                flex-direction: column;
                                strong {
                                    @include font-16px;
                                }
                                em {
                                    @include font-14px;
                                }
                            }
                        }
                        .img-line {
                            width: vw(1090px);
                            .rate-zone {
                                @include font-14px-M;
                                display: flex;
                                .stars {
                                    color: $star;
                                    margin-right: vw(10px);
                                }
                                .date {
                                    color: $greyscale-1100;
                                }
                            }
                            .img-zone {
                                height: vw(222px);
                                display: flex;
                                gap: vw(25px);

                                .img-wrap {
                                    border-radius: 15px;
                                    overflow: hidden;
                                    background-color: #5c5c5c;
                                    width: vw(222px);
                                    img {
                                    }
                                }
                            }
                            .type {
                                padding-top: vw(15px);
                                strong {
                                    color: $greyscale-1000;
                                    @include font-14px-SB;
                                }
                                p {
                                    margin-top: vw(5px);
                                    @include font-14px-M;

                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: normal;
                                }
                                .more {
                                    margin-top: vw(15px);
                                    background-color: transparent;
                                    &.button {
                                        padding: 0;
                                        width: 60px;
                                        height: 16px;
                                        @include font-12px-B;
                                        color: #333;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    > .button {
        border: vw(1px) solid $greyscale-900;
        margin: vw(75px) auto;
        width: vw(500px);
        height: vw(55px);
        border-radius: vw(5px);
        cursor: pointer;
        &:hover {
            background-color: $greyscale-200;
            p {
                color: $greyscale-1000;
            }
        }
        p {
            color: $greyscale-800;
            text-align: center;
            @include font-16px-M;
            line-height: 2;
        }
    }
}
