@use './../utils' as *;

* {
    box-sizing: border-box;
}

body {
    background: $main-bg;
    font-family: 'Pretendard', 'Suit', sans-serif;
    font-weight: medium;
    word-break: keep-all;
    // @include paddingX(16px);
    @include desktop {
        // padding-left: 5%;
        // padding-right: 5%;
    }
    @include tablet {
        // padding-left: 5%;
        // padding-right: 5%;
    }
}
